* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgb(9, 7, 14);
}

/* Modal Content */
.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  margin: auto;
  padding: 20px;
  width: 90%;
  height: 90%;
  color: rgb(0, 0, 0);
}
.modal-content #player {
  display: none;
  margin: 0 auto;
  border: rgba(80, 65, 117, 0.493) solid 0.2rem;
}
.modal-content #player_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.modal-content #game_title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 1000;
  font-size: 2.5vw;
  color: rgb(191, 179, 219);
  text-shadow: 1px 1px 4px #000000;
  visibility: visible;
  opacity: 1;
  transition: opacity 5s linear;
}
.modal-content #song_title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5vw;
  color: rgb(121, 110, 150);
  text-shadow: 1px 1px 4px #000000;
}
.modal-content #button_next {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}
.modal-content #btn_next {
  background: rgba(191, 83, 233, 0.32);
  text-shadow: 0px 0px 3px #000000;
  font-weight: 650;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  outline: rgba(255, 255, 255, 0.498) solid 0.2rem;
}

body {
  height: 100vh;
  background-color: rgb(9, 7, 14);
}

header {
  height: 10vh;
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  font-weight: 400;
}

section {
  height: 60vh;
}
section ul {
  width: 50%;
  margin: 0 auto;
  list-style-type: none;
}
section ul li {
  outline: 0.15rem solid rgba(80, 65, 117, 0.493);
  padding: 0.25rem 0.5rem;
  height: 1.75rem;
  text-shadow: 1px 1px 4px #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section ul li:not(:last-child) {
  margin-bottom: 1rem;
}

footer {
  height: 30vh;
  width: 45vw;
  margin: 0 auto;
}
footer div {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .button_grid {
  display: grid;
  grid-template-columns: 1fr 4.5fr 1fr;
}
footer .play_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
footer #btn_play {
  height: 3rem;
  width: 3rem;
  border-radius: 100vw;
  background-color: rgba(115, 88, 184, 0.4941176471);
  outline: 0.1rem solid rgb(255, 255, 255);
}
footer #btn_play #triangle {
  height: 50%;
  width: 50%;
  border-left: 1.5rem #fff solid;
  border-top: 1rem transparent solid;
  border-bottom: 1rem transparent solid;
  margin: 0 auto;
  transform: translateX(10%) scale(0.8);
}
footer #inp_guess {
  background-color: rgba(80, 65, 117, 0.493);
  width: 100%;
  border: 1px rgb(105, 87, 150) solid;
  padding: 0.5rem 1rem;
  color: #fff;
  text-transform: none;
  margin-bottom: 1.25rem;
}
footer .list_item_class {
  border-bottom: 0.02rem solid rgb(80, 65, 117);
  color: rgba(173, 148, 236, 0.862745098);
  background-color: #fff;
  font-family: "Renogare", sans-serif;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: rgb(9, 7, 14);
  padding: 0.25rem 0.5rem;
  height: 1.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
footer .list_item_class:hover {
  background-color: rgba(80, 65, 117, 0.493);
  color: #fff;
}
footer ul {
  display: none;
  border-radius: 0.25rem 0.25rem 0 0;
  list-style-type: none;
  width: 45%;
  position: absolute;
  transform: translateY(-50%);
  margin-bottom: 3.3rem;
  border: 1px rgb(105, 87, 150) solid;
}
footer #btn_skip, footer #btn_submit {
  background: rgba(0, 0, 0, 0.144);
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  text-shadow: 1px 1px 4px #000000;
  font-weight: 650;
  text-transform: uppercase;
  outline: 0.02rem solid rgba(255, 255, 255, 0.479);
}
footer #btn_submit {
  background: rgba(2, 238, 13, 0.253);
  text-shadow: 1px 1px 4px #000000;
  font-weight: 650;
  text-transform: uppercase;
}
footer #btn_play:active, footer #btn_submit:active, footer #btn_skip:active {
  transform: scale(0.95);
}

button, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input:focus {
  outline: none;
  border: none;
}

input::-moz-placeholder {
  color: rgb(122, 106, 161);
}

input:-ms-input-placeholder {
  color: rgb(122, 106, 161);
}

input::placeholder {
  color: rgb(122, 106, 161);
}

hr {
  border: rgba(121, 106, 161, 0.938) 0.05px solid;
  border-bottom: none;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.modal_hr {
  width: 90%;
  margin-top: 2rem;
  margin-bottom: 0;
}

@property --percentage {
  initial-value: 0%;
  inherits: false;
  syntax: "<percentage>";
}
.chartAnimation {
  background: conic-gradient(#ffffff var(--percentage), transparent 0);
  border-radius: 50%;
  -webkit-animation-name: timer;
          animation-name: timer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#chart {
  display: none;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes timer {
  to {
    --percentage: 100%;
  }
}

@keyframes timer {
  to {
    --percentage: 100%;
  }
}
body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -164px -149.6666666667px hsl(202deg, 100%, 50%), 172px -61.6666666667px hsl(346deg, 100%, 50%), -159px -324.6666666667px hsl(281deg, 100%, 50%), 26px -65.6666666667px hsl(300deg, 100%, 50%), -222px -205.6666666667px hsl(202deg, 100%, 50%), 61px -188.6666666667px hsl(106deg, 100%, 50%), -113px -342.6666666667px hsl(93deg, 100%, 50%), -63px -414.6666666667px hsl(130deg, 100%, 50%), 16px -383.6666666667px hsl(298deg, 100%, 50%), 85px -278.6666666667px hsl(183deg, 100%, 50%), 11px -339.6666666667px hsl(243deg, 100%, 50%), -32px -108.6666666667px hsl(298deg, 100%, 50%), -230px -386.6666666667px hsl(2deg, 100%, 50%), -97px 21.3333333333px hsl(36deg, 100%, 50%), -229px 47.3333333333px hsl(210deg, 100%, 50%), 24px -89.6666666667px hsl(180deg, 100%, 50%), -86px 0.3333333333px hsl(78deg, 100%, 50%), 42px -196.6666666667px hsl(74deg, 100%, 50%), 186px -53.6666666667px hsl(134deg, 100%, 50%), -246px -415.6666666667px hsl(340deg, 100%, 50%), 28px -226.6666666667px hsl(348deg, 100%, 50%), -70px -39.6666666667px hsl(179deg, 100%, 50%), 168px -406.6666666667px hsl(170deg, 100%, 50%), -190px -35.6666666667px hsl(326deg, 100%, 50%), -212px -212.6666666667px hsl(160deg, 100%, 50%), -20px -390.6666666667px hsl(208deg, 100%, 50%), -137px -49.6666666667px hsl(327deg, 100%, 50%), 113px -350.6666666667px hsl(76deg, 100%, 50%), -232px 39.3333333333px hsl(68deg, 100%, 50%), 227px 59.3333333333px hsl(296deg, 100%, 50%), 215px -298.6666666667px hsl(246deg, 100%, 50%), 167px -387.6666666667px hsl(59deg, 100%, 50%), -164px -357.6666666667px hsl(76deg, 100%, 50%), -227px -89.6666666667px hsl(338deg, 100%, 50%), 122px -211.6666666667px hsl(17deg, 100%, 50%), 229px -187.6666666667px hsl(191deg, 100%, 50%), -35px 71.3333333333px hsl(200deg, 100%, 50%), 19px -362.6666666667px hsl(180deg, 100%, 50%), 31px 68.3333333333px hsl(177deg, 100%, 50%), 180px -205.6666666667px hsl(64deg, 100%, 50%), -35px 26.3333333333px hsl(278deg, 100%, 50%), 219px -343.6666666667px hsl(120deg, 100%, 50%), 208px -0.6666666667px hsl(341deg, 100%, 50%), -173px -292.6666666667px hsl(306deg, 100%, 50%), 132px -0.6666666667px hsl(54deg, 100%, 50%), -40px 74.3333333333px hsl(31deg, 100%, 50%), -147px -137.6666666667px hsl(161deg, 100%, 50%), 177px -258.6666666667px hsl(210deg, 100%, 50%), -69px 68.3333333333px hsl(187deg, 100%, 50%), -14px -43.6666666667px hsl(20deg, 100%, 50%), 7px -236.6666666667px hsl(103deg, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: -164px -149.6666666667px hsl(202deg, 100%, 50%), 172px -61.6666666667px hsl(346deg, 100%, 50%), -159px -324.6666666667px hsl(281deg, 100%, 50%), 26px -65.6666666667px hsl(300deg, 100%, 50%), -222px -205.6666666667px hsl(202deg, 100%, 50%), 61px -188.6666666667px hsl(106deg, 100%, 50%), -113px -342.6666666667px hsl(93deg, 100%, 50%), -63px -414.6666666667px hsl(130deg, 100%, 50%), 16px -383.6666666667px hsl(298deg, 100%, 50%), 85px -278.6666666667px hsl(183deg, 100%, 50%), 11px -339.6666666667px hsl(243deg, 100%, 50%), -32px -108.6666666667px hsl(298deg, 100%, 50%), -230px -386.6666666667px hsl(2deg, 100%, 50%), -97px 21.3333333333px hsl(36deg, 100%, 50%), -229px 47.3333333333px hsl(210deg, 100%, 50%), 24px -89.6666666667px hsl(180deg, 100%, 50%), -86px 0.3333333333px hsl(78deg, 100%, 50%), 42px -196.6666666667px hsl(74deg, 100%, 50%), 186px -53.6666666667px hsl(134deg, 100%, 50%), -246px -415.6666666667px hsl(340deg, 100%, 50%), 28px -226.6666666667px hsl(348deg, 100%, 50%), -70px -39.6666666667px hsl(179deg, 100%, 50%), 168px -406.6666666667px hsl(170deg, 100%, 50%), -190px -35.6666666667px hsl(326deg, 100%, 50%), -212px -212.6666666667px hsl(160deg, 100%, 50%), -20px -390.6666666667px hsl(208deg, 100%, 50%), -137px -49.6666666667px hsl(327deg, 100%, 50%), 113px -350.6666666667px hsl(76deg, 100%, 50%), -232px 39.3333333333px hsl(68deg, 100%, 50%), 227px 59.3333333333px hsl(296deg, 100%, 50%), 215px -298.6666666667px hsl(246deg, 100%, 50%), 167px -387.6666666667px hsl(59deg, 100%, 50%), -164px -357.6666666667px hsl(76deg, 100%, 50%), -227px -89.6666666667px hsl(338deg, 100%, 50%), 122px -211.6666666667px hsl(17deg, 100%, 50%), 229px -187.6666666667px hsl(191deg, 100%, 50%), -35px 71.3333333333px hsl(200deg, 100%, 50%), 19px -362.6666666667px hsl(180deg, 100%, 50%), 31px 68.3333333333px hsl(177deg, 100%, 50%), 180px -205.6666666667px hsl(64deg, 100%, 50%), -35px 26.3333333333px hsl(278deg, 100%, 50%), 219px -343.6666666667px hsl(120deg, 100%, 50%), 208px -0.6666666667px hsl(341deg, 100%, 50%), -173px -292.6666666667px hsl(306deg, 100%, 50%), 132px -0.6666666667px hsl(54deg, 100%, 50%), -40px 74.3333333333px hsl(31deg, 100%, 50%), -147px -137.6666666667px hsl(161deg, 100%, 50%), 177px -258.6666666667px hsl(210deg, 100%, 50%), -69px 68.3333333333px hsl(187deg, 100%, 50%), -14px -43.6666666667px hsl(20deg, 100%, 50%), 7px -236.6666666667px hsl(103deg, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
.fadeIn {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeOut {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */